<div class="footer">
  <p>
    Copyright &copy; 2005-2007 Alexander C. Hubmann<br>
    Copyright &copy; 2007-2026 Alexander C. Hubmann-Haidvogel
  </p>
  <p>
    ThreadVis started as part of Alexander C. Hubmann-Haidvogel's Master's Thesis titled <a href="https://ftp.isds.tugraz.at/pub/theses/ahubmann.pdf"><em>ThreadVis for Thunderbird: A Thread Visualisation Extension for the Mozilla Thunderbird Email Client</em></a> at Graz University of Technology, Austria.
  </p>
  <p>
    ThreadVis is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. ThreadVis is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> for more details.
  </p>
</div>
