<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %} {{ page.title }} | {% endif %} ThreadVis - Visualizing Conversations</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/styles/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ "/styles/bootstrap/justified-nav.css" | relative_url }}" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{{ "/styles/style.css" | relative_url }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ "/styles/bootstrap/js/html5shiv.js" | relative_url }}"></script>
      <script src="{{ "/styles/bootstrap/js/respond.min.js" | relative_url }}"></script>
    <![endif]-->
  </head>

  <body div data-spy="scroll" data-target="#subnav">
    <div class="nav-fixed">
      {% include navigation.html %}
    </div>
    <div class="container">
      

      {{ content }}

      {% include footer.html %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/styles/bootstrap/js/jquery.js" | relative_url }}"></script>
    <script src="{{ "/styles/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>
  </body>
</html>

